@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0; }

.anuncio {
  text-align: center;
  font-family: Arial;
  font-size: 2rem;
  color: red; }
  @media only screen and (max-width: 768px) {
    .anuncio .anuncio {
      grid-area: anuncio;
      display: flex;
      font-size: 10%;
      margin-right: 100px;
      padding-right: 20px;
      padding-bottom: 70px;
      padding-left: 10px;
      margin-bottom: 20px;
      text-align: center; } }

.Logo {
  width: 200px; }

/* Voy a ubicar el mapa al centro*/
#mapa {
  color: darkgreen;
  text-align: center; }

/* Organizo el menu */
.box {
  position: relative;
  display: inline;
  text-align: right;
  margin: 20px;
  text-decoration: none;
  border: 10px solid;
  padding: 10px;
  width: 30%;
  box-sizing: border-box;
  font-weight: bolder;
  color: beige;
  font-size: 120%; }

/* Acomodo el Logo a la izquierda*/
.Img {
  text-align: left;
  border-radius: 8px;
  transition: all 250ms; }

/*muevo mi imagen*/
.carro {
  text-align: center;
  margin-bottom: 60px; }

/*agregohover a lista de productos*/
.transition:hover {
  transform: scale(1.1);
  width: 900px; }

/*aplico extend a mis enunciados del sector servicios*/
.titempanadas, .titpizza {
  font-size: 100%;
  text-align: center;
  color: tomato; }

.titpizza {
  color: darkgreen; }

.cuales {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 100px;
  grid-row-gap: 900px; }

/* ordeno mis latas de cerveza para vender y acomodo titulo*/
.titcerve {
  font-size: 5rem;
  text-align: center;
  color: blue; }

.marcasdebirra {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 100px;
  align-content: center;
  grid-row-gap: 300px; }

.cajaimg {
  display: inline;
  width: 90%; }

.cajaimg a img {
  max-height: 70%;
  max-width: 80%;
  margin: 10px;
  width: 500px;
  border-radius: 8px;
  height: 450px; }

/*empiezo hacer medias queries*/
/* vista entre desktop y mobile */
@media only screen and (min-width: 768px) and (max-width: 1239px) {
  #footer {
    justify-items: right;
    visibility: visible; }
  .footer_nav a {
    display: none; } }

/*Realizo vista mobile*/
@media only screen and (min-width: 768px) {
  .logodebm {
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center; }
  Img {
    text-align: center; }
  .wasap {
    width: 50px;
    height: 50px; } }

/*acomodo imagenes para carrousel*/
.carousel {
  width: 70%; }
  @media only screen and (min-width: 768px) {
    .carousel .carousel {
      grid-area: carousel; } }

.carousel-container {
  width: 100%;
  display: flex;
  justify-content: center; }

#Video {
  color: darkblue;
  text-align: center; }

/* Pongo fondos */
body {
  background-color: lightskyblue;
  background-size: cover; }

/*alineo menu */
.Lista {
  text-align: right;
  font-family: 'Roboto', sans-serif; }

/*agrando logo cuando toco*/
.Img:hover {
  transform: scale(1.5);
  width: 100px; }

/*Otorgo color de fondo a mi pagina de servicio*/
.Servicios {
  background-color: rgba(128, 128, 128, 0.781); }

/**/
.Contacto {
  background-color: rgba(113, 255, 47, 0.354);
  margin-bottom: 20px; }

/**/
.Carrito {
  background-color: lightslategrey; }

/*armo box modelling en mi lista de products para usar gradiente*/
.Products {
  color: black;
  border: solid 1px black;
  margin-right: 700px;
  margin-left: 600px;
  margin-bottom: 100px;
  background-image: linear-gradient(to top, red, yellow);
  transition: all 250ms; }
  .Products:hover {
    transform: scale(1.1); }
  @media only screen and (min-width: 768px) and (max-width: 1239px) {
    .Products .Products {
      display: flex;
      align-content: flex-start;
      margin-left: 40%;
      color: brown; } }
  @media only screen and (min-width: 768px) {
    .Products .Products {
      display: flex;
      align-content: flex-start;
      margin-left: 40%;
      color: brown; } }

/* Armo lista de lo que pedi en una caja, siguiente paso es relizar que se envie*/
#ordenes {
  border: solid 2px black;
  height: 500px;
  background-color: beige;
  color: black;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif; }
  @media only screen and (min-width: 768px) {
    #ordenes #ordenes {
      border: solid 2px black;
      height: 500px;
      width: 100%;
      background-color: beige;
      color: black;
      font-weight: bolder;
      font-family: Arial, Helvetica, sans-serif; } }

/*armo transicion*/
.transition {
  border: solid 2px black;
  background-color: rgba(255, 255, 255, 0.83);
  margin-right: 200px;
  margin-left: 60px;
  margin-bottom: 60px;
  width: 600px;
  text-align: center; }

/*alineo titulo y fotos de empanadas*/
.tipos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center; }

#lasempa {
  text-align: center; }

/* aplico fondo al sector de galeria*/
.fondogalery {
  background-color: lightsalmon; }

/*pongo whatsapp para que me contacten*/
.wapp {
  float: right;
  padding-top: 50px; }

/*agrando imagen*/
.pizzamedia {
  width: 2000px;
  height: 700px; }

/*background al index*/
.Main {
  background-color: rgba(128, 128, 128, 0.781); }
  @media only screen and (min-width: 768px) {
    .Main .Main {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas: ".anuncio." ".carousel.";
      align-items: center; } }

/*meter traslado de imagen del carro y la animacion*/
.muevecarro:hover {
  transform: rotateX(310deg); }

@keyframes zoom {
  0% {
    transform: scale(0.9); }
  100% {
    transform: scale(1.2); } }

.muevecarro:hover {
  width: 40%;
  animation-name: zoom;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-delay: 0;
  animation-fill-mode: forwards; }
  @media only screen and (min-width: 768px) {
    .muevecarro:hover .muevecarro:hover {
      height: 100px;
      width: 100px; } }

/*voy agregar clases para utilizar el hover en el area de servicios*/
.jamon:hover {
  height: 350px;
  width: 350px; }

.cebolla:hover {
  height: 300px;
  width: 400px; }

.carne:hover {
  height: 300px;
  width: 300px; }

/*hago lo mismo con las pizzas en servicios*/
.decebo:hover {
  height: 300px;
  width: 300px; }

.demuzza:hover {
  height: 300px;
  width: 300px; }

.dejamon:hover {
  height: 300px;
  width: 300px; }

/*aplico hover a mi cervezas*/
.impe:hover {
  height: 300px;
  width: 300px; }

.stelita:hover {
  height: 300px;
  width: 300px; }

.andona:hover {
  height: 300px;
  width: 300px; }

.heini:hover {
  height: 300px;
  width: 300px; }

.scheinde:hover {
  height: 300px;
  width: 300px; }

.cori:hover {
  height: 300px;
  width: 300px; }

/*hago footer*/
#footer {
  grid-area: footer;
  background-color: rgba(255, 179, 0, 0.574);
  background-size: cover;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: right;
  justify-content: space-around; }
  @media only screen and (min-width: 320px) {
    #footer #footer {
      visibility: visible; } }

.footer_nav a {
  text-decoration: none;
  color: black;
  border: inset 2px #DFDFDF;
  padding: 10px;
  margin: 100px;
  margin-left: 50px; }

.footer_nav a:hover {
  color: white;
  font-weight: bold;
  transform: translate(2px, 5px);
  transition: all 0.5s; }

.padreflex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .padreflex .padreflex {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 160%; } }

/* Doy estilo a mi anuncio de la pagina de inicio y uso gradiente*/
.anuncio {
  color: black;
  font-size: 500%;
  font-style: italic;
  border: solid 5px greenyellow;
  font-family: Arial;
  background-image: linear-gradient(to right, #aa6464, white);
  margin-top: 100px; }

/*agrego mixing sin parametro a mi enunciado de lista de productos*/
.Pipp {
  text-align: center;
  line-height: 5.5; }

/*aplico Maps*/
/*encabezado contacto*/
.cont {
  color: brown;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-family: 'Roboto', sans-serif;
  font-size: 600%; }

.distintaspizas {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
