@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.anuncio {
    text-align: center;
    font-family: $title-font;
    font-size: $tam-fuente;
    color: $color-class;

    @media only screen and (max-width:768px) {
        .anuncio {

            grid-area: anuncio;
            display: flex;
            font-size: 10%;
            margin-right: 100px;
            padding-right: 20px;
            padding-bottom: 70px;
            padding-left: 10px;
            margin-bottom: 20px;
            text-align: center;
        }
    }

    @media only screen and (min-width:320px) {}
}

.Logo {
    width: 200px;
}

/* Voy a ubicar el mapa al centro*/
#mapa {
    color: darkgreen;
    text-align: center;
}


/* Organizo el menu */
.box {
    position: relative;
    ;
    display: inline;
    text-align: right;
    margin: 20px;
    text-decoration: none;
    border: 10px solid;
    padding: 10px;
    width: 30%;
    box-sizing: border-box;
    font-weight: bolder;
    color: beige;
    font-size: 120%;
}

/* Acomodo el Logo a la izquierda*/
.Img {
    text-align: left;
    border-radius: 8px;
    transition: all 250ms;
}

/*muevo mi imagen*/
.carro {
    text-align: center;
    margin-bottom: 60px;
}

/*agregohover a lista de productos*/
.transition:hover {
    transform: scale(1.1);
    width: 900px;
}



/*aplico extend a mis enunciados del sector servicios*/
.titempanadas {
    font-size: 100%;
    text-align: center;
    color: tomato;
}

.titpizza {
    @extend.titempanadas;
    color: darkgreen;
}

.cuales {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 100px;
    grid-row-gap: 900px;
}


/* ordeno mis latas de cerveza para vender y acomodo titulo*/

.titcerve {
    font-size: 5rem;
    text-align: center;
    color: blue;
}

.marcasdebirra {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
    align-content: center;
    grid-row-gap: 300px;
}

.cajaimg {
    display: inline;
    width: 90%;
}

.cajaimg a img {
    max-height: 70%;
    max-width: 80%;
    margin: 10px;
    width: 500px;
    border-radius: 8px;
    height: 450px;
}




/*empiezo hacer medias queries*/



/* vista entre desktop y mobile */
@media only screen and (min-width:768px) and (max-width:1239px) {
    #footer {
        justify-items: right;
        visibility: visible;
    }

    .footer_nav a {
        display: none;
    }
}


/*Realizo vista mobile*/

@media only screen and (min-width:768px) {

    .logodebm {
        height: 150px;
        width: 150px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    Img {
        text-align: center;
    }


    .wasap {
        width: 50px;
        height: 50px;
    }

}

/*acomodo imagenes para carrousel*/

.carousel {
    width: 70%;

    @media only screen and (min-width:768px) {
        .carousel {
            grid-area: carousel;
        }
    }
    }

    .carousel-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }